<%= content_for :sidebar do %>
  <div class="background-fill"><!-- fill sidebar with bg color --> </div>
<% end %>

<div class="l-unauthenticated">
  <div class="unauthenticated-wrapper">
    <%= form_tag sessions_path do %>



      <h4 class="heading">Log In</h4>
      <div class="form-group">
        <%= text_field_tag :email, params[:email], autocorrect: 'off', autocapitalize: 'off', autofocus: true,
        :placeholder => 'Email',
        :required => true,
        :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, nil, :class => 'form-control', placeholder: "Password" %>
      </div>
      <div class="actions">
        <%= submit_tag "Log In", class: 'btn btn-primary pull-right' %>
      </div>
    <% end %>
  </div>
</div>
