<%= content_for :sidebar do %>
  <div class="background-fill"><!-- fill sidebar with bg color --> </div>
<% end %>

<div class="l-unauthenticated">
  <div class="unauthenticated-wrapper">
    <%= form_tag sessions_path do %>
      <h1 class="heading">Log In</h1>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], autocorrect: 'off', autocapitalize: 'off', autofocus: true %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actions">
        <%= submit_tag "Log In", class: 'button' %>
      </div>
    <% end %>
  </div>
</div>