<li class="activity">
  <%= form_for achievement, remote: true do |f| %>
    <span class="label pull-right achievement-date"><%= achievement.created_at %></span>

    <p><%= achievement.description %></p>

    <div class="clearfix">
      <% if achievement.tracker.focus %>
        <span class="label label-info"><%= achievement.tracker.focus.name %></span>
      <% end %>
      <div class="pull-right">
        <%= link_to achievement_path(achievement), :method => :delete, remote: true, data: { confirm: "Are you sure you want to delete this log?" } , class: 'btn-action' do %>
          <span class="fui-trash"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</li>

