<% content_for :page_title, "New Achievement" %>

<div class="row">
  <div class="col-xs-12 col-md-6">

    <%= render "shared/tracker_menu" %>

    <hr>

    <% tracker = @tracker.decorate %>
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h1><%= tracker.name %>
          <% if tracker.focus.present? %><span class="badge pull-right"><%= tracker.focus.name %></span><% end %>
        </h1>
      </div>

      <div class="panel-body clearfix">
        <%= tracker.description %>
        <%= link_to  tracker_path(tracker), method: :delete, data: { confirm: "Are you sure you want to archive this tracker?" } do %>
          <span class="fui-trash pull-right"></span>
        <% end %>
      </div>
    </div>
    <div>
      <p>Describe what you did:</p>

      <%= form_for resource, url: resource_url, class: "form-horizontal" do |f| %>
        <%= render 'form', :f => f %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">

    <hr>

  <ul class="activity-list">
    <%= render @achievements.compact %>
  </ul>
</div>
