<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title><%= "%s - " % yield(:page_title) if content_for?(:page_title) %>Progress360</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "flat-ui-pro", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "navigation/global_navigation" %>

  <div id="sidebar">
    <% if content_for?(:sidebar) %>
      <%= yield :sidebar %>
    <% else %>
      <%= render 'layouts/sidebar' %>
    <% end %>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <%= render 'layouts/ga' if Rails.env.production? %>
</body>
</html>
